{{#> base }}

  {{> header bye=this }}

  <main role="main" class="container">

    {{#> welcome title="Bye Page" }}
      <p class="lead">Use this document as a way to quickly start any new project.</p>
    {{/welcome}}

  </main>

{{/ base }}